@{
}
<form style="padding-bottom: 20px">
    <p id="result">
        <input class="form-control form-control-lg bg-light-blue" type="text" placeholder="Link to be shorten">
    </p>
    <hr />
    <div class="d-grid gap-2">
        <button class="btn btn-primary btn-change btn-lg" type="button">Cut</button>
    </div>
</form>
